*, *:before, *:after
  box-sizing: border-box
html
  font-size: 14px
body
  font-family: 'Futura Book', sans-serif
  font-size: 1rem
  img
    max-width: 100%
.section
  padding: 60px
  &-title
    text-align: center
    text-transform: uppercase
    font-family: 'Yeseva One Regular', serif
    &__image
      display: flex
      justify-content: center
      align-items: center
      &::before, &::after
        content: ''
        background-color: $primary
        width: 32px
        height: 2px
        margin:  10px
    &__imagerepair
      display: flex
      justify-content: center
      align-items: center
      &::before, &::after
        content: ''
        background-color: $primary
        width: 32px
        height: 2px
        margin:  -30px
      