.hero
  position: relative
  background: $dark url('../img/hero-bg.jpg') center / cover no-repeat
  height: 100vh
  color: $light
  padding-top: 90px
  &__instagram
    position: absolute
    left: 0
    top: 0
    max-width: 92px
    height: 100%
  &__title
    margin: 0
.instagram
  display: flex
  justify-content: center
  align-items: center
  background-color: $dark
  &__link
    text-transform: uppercase
    text-decoration: none
    color: $primary
    transform: rotate(90deg)