.types
  &__section-title
    margin-bottom: 2rem
  &__card
    margin-top: 1rem
.card
  &__text
    position: relative
    max-width: 23.45rem
    margin-top: -9.34rem
    margin-left: 2.2rem
    font-weight: 400
    padding: 1.79rem 2.14rem
    background:$light
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.03)
  &__title
    font-family: 'Yeseva One Regular', serif
    font-size: 1.285rem
    line-height: 138.6%
    margin-top: 0
    margin-bottom: 0.4rem
  &__list
    padding: 0 0 0 1.1rem
    margin: 0
    font-size: 1.07rem
    line-height: 1.79rem
    font-family: 'Futura Book', sans-serif
    color: $secondary
    margin-bottom: 2.5rem
  &__pricetag
    position: absolute
    left: 0
    bottom: -1.8rem
    font-size: 1.285rem
    font-weight: 400
    line-height: 138.6%
    text-align: center
    font-family: 'Yeseva One Regular', serif
    text-transform: uppercase
    background-color: $primary
    color: $light
    padding: 1.214rem 1.183rem
    min-width: 16.285rem
    max-height: 3.857rem